<div id="<%= dom_id measuring %>">
  <p>
    <strong>Room:</strong>
    <%= measuring.room %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= measuring.temperature %>
  </p>

  <p>
    <strong>Humidity:</strong>
    <%= measuring.humidity %>
  </p>

</div>
