<h1>Editing measuring</h1>

<%= render "form", measuring: @measuring %>

<br>

<div>
  <%= link_to "Show this measuring", @measuring %> |
  <%= link_to "Back to measurings", measurings_path %>
</div>
